$bg: #f0f0f0;
$text: #333;
$acsent: #ffa530;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: $bg;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba($acsent,1);
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 10px;
      font-size: 1rem;
      border-radius: 5px;
      outline: none;
      border: 1px solid rgba($acsent, 0.7);
      &:focus {
        box-shadow: 0 1px 2px 1px rgba($acsent,1);
      }
    }

    .buttons {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fill, 50px);
    }

    .result {
      font-weight: bold;      
    }

    button {
      width: 50px;
      height: 50px;
      background: rgba($acsent, 1);
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    
      span {
        display: inline-block;
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
      }  

      &:hover span {
        transform: rotate(360deg);        
        transform-origin: center;
      }
    }
  }
}
